<mat-tab-group>
  <mat-tab label="M03">
    <ng-template matTabContent>
      The First Content
    </ng-template>
    <!-- The First Content -->
  </mat-tab>
  <mat-tab label="M02">
    <ng-template matTabContent>
      <app-shape-drawing></app-shape-drawing>
    </ng-template>
    <!-- <app-shape-drawing></app-shape-drawing> -->
  </mat-tab>
  <mat-tab label="M01">
    <ng-template matTabContent>
      <app-scale-image-using-mouse></app-scale-image-using-mouse>
    </ng-template>
    <!-- <app-scale-image-using-mouse></app-scale-image-using-mouse> -->
  </mat-tab>
</mat-tab-group>
